<a href="/squirrels/new">Click here</a> to add a new squirrel.
<% @squirrels.each do |squirrel| %>
  <p>
    <h1><%= squirrel.username %></h1>
    <%= squirrel.username %> is a <%= squirrel.color %> squirrel.
    <a href="/squirrels/<%= squirrel.id %>">Click here</a> to view <%= squirrel.username %>'s profile.
  </p>
<% end %>
