<div>
  <h1><%= @squirrel.name %></h1>
  <p><%= @squirrel.name %> is a <%= @squirrel.color %> squirrel. Perhaps eventually there will be a blurb about <%= @squirrel.name %> here.</p>
  <% if @squirrel.tree %>
    <p><%= @squirrel.name %> belongs to the <%= @squirrel.tree.height %> foot tree in <%= @squirrel.tree.location %>.</p>
  <% else %>
    <p>This squirrel does not belong to a tree.</p>
  <% end %>
  <ul>
    <li><a href="/squirrels/<%= @squirrel.id %>/edit">Edit this squirrel</a></li>
    <li>
      <form method="POST" action="/squirrels/<%= @squirrel.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="DELETE this squirrel">
      </form>
    </li>
  </ul>
</div>
